@model Login
<link rel="stylesheet" href="~/css/login.css">

<!-- _Login.cshtml -->
<div >
    <div class="card custom-card">
        <div class="card-body form">
            <h2 class="form-heading text-center">Login</h2>

            <form asp-action="Login" method="post">

                <div class="field">
                    <label asp-for="LoginEmail">Email:</label>
                    <input asp-for="LoginEmail" class="input" placeholder="Enter your email">
                    <span asp-validation-for="LoginEmail" class="text-danger"></span>
                </div>

                <div class="field">
                    <label asp-for="LoginPassword">Password:</label>
                    <input asp-for="LoginPassword" type="password" class="input" placeholder="Enter your password">
                    <span asp-validation-for="LoginPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-custom btn-block">Login</button>

            </form>
        </div>
    </div>
</div>
